{% extends 'layout/base.html' %}
{% block content %}
{% if board %}
<h1>Flask Boggle</h1>
<div class="container w-25 mt-5">
    {% for row in board %}
    <div class="row">
        {% for piece in row %}
        <div class="col border">
            <span>{{piece}}</span>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<form id="guess_form" action="/api/guess" method="post" class="form w-25 m-auto row">
    <input class="form-control-input col-10" id="guess_input" name="guess" placeholder="Guess a word..." />
    <input type="submit" class="col-2 btn btn-primary" value="Guess" />
</form>
{% endif %}
{% endblock %}